<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Calendar</span></li>
		</ol>
		
		<h1>Calendar</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-3 hidden-xs hidden-sm">
		<div class="main-box" id="external-events">
			<header class="main-box-header clearfix">
				<h2>Draggable Events</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="external-event label-primary" data-eventclass="label-primary">My Event 1</div>
				<div class="external-event label-danger" data-eventclass="label-danger">My Event 2</div>
				<div class="external-event label-success" data-eventclass="label-success">My Event 3</div>
				<div class="external-event label-warning" data-eventclass="label-warning">My Event 4</div>
				<div class="external-event label-info" data-eventclass="label-info">My Event 5</div>
				<div class="external-event label-default" data-eventclass="label-default">My Event 6</div>
				<div class="form-group">
					<label class="checkbox-inline">
						<input type="checkbox" id="drop-remove" value="option1"> Remove after drop
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="main-box">
			<div class="main-box-body clearfix">
				<div id="calendar"></div>
			</div>
		</div>
	</div>
</div>
	
<!-- this page specific inline scripts -->
<script>
$(document).ready(function() {
	/* initialize the external events
	-----------------------------------------------------------------*/

	$('#external-events div.external-event').each(function() {
	
		// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
		// it doesn't need to have a start or end
		var eventObject = {
			title: $.trim($(this).text()) // use the element's text as the event title
		};
		
		// store the Event Object in the DOM element so we can get to it later
		$(this).data('eventObject', eventObject);
		
		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});
		
	});


	/* initialize the calendar
	-----------------------------------------------------------------*/
	
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();

	var calendar = $('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		isRTL: $('body').hasClass('rtl'), //rtl support for calendar
		selectable: true,
		selectHelper: true,
		select: function(start, end, allDay) {
			var title = prompt('Event Title:');
			if (title) {
				calendar.fullCalendar('renderEvent',
					{
						title: title,
						start: start,
						end: end,
						allDay: allDay
					},
					true // make the event "stick"
				);
			}
			calendar.fullCalendar('unselect');
		},
		editable: true,
		droppable: true, // this allows things to be dropped onto the calendar !!!
		drop: function(date, allDay) { // this function is called when something is dropped
		
			// retrieve the dropped element's stored Event Object
			var originalEventObject = $(this).data('eventObject');
			
			// we need to copy it, so that multiple events don't have a reference to the same object
			var copiedEventObject = $.extend({}, originalEventObject);
			
			// assign it the date that was reported
			copiedEventObject.start = date;
			copiedEventObject.allDay = allDay;
			
			// copy label class from the event object
			var labelClass = $(this).data('eventclass');
			
			if (labelClass) {
				copiedEventObject.className = labelClass;
			}
			
			// render the event on the calendar
			// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
			$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
			
			// is the "remove after drop" checkbox checked?
			if ($('#drop-remove').is(':checked')) {
				// if so, remove the element from the "Draggable Events" list
				$(this).remove();
			}
			
		},
		events: [
			{
				title: 'All Day Event',
				start: new Date(y, m, 1),
				className: 'label-success'
			},
			{
				title: 'Long Event',
				start: new Date(y, m, d-5),
				end: new Date(y, m, d-2)
			},
			{
				id: 999,
				title: 'Repeating Event',
				start: new Date(y, m, d-3, 16, 0),
				allDay: false,
				className: 'label-danger'
			},
			{
				id: 999,
				title: 'Repeating Event',
				start: new Date(y, m, d+4, 16, 0),
				allDay: false
			},
			{
				title: 'Meeting',
				start: new Date(y, m, d, 10, 30),
				allDay: false,
				className: 'label-info'
			},
			{
				title: 'Lunch',
				start: new Date(y, m, d, 12, 0),
				end: new Date(y, m, d, 14, 0),
				allDay: false,
				className: 'label-success'
			},
			{
				title: 'Birthday Party',
				start: new Date(y, m, d+1, 19, 0),
				end: new Date(y, m, d+1, 22, 30),
				allDay: false,
				className: 'label-info'
			},
			{
				title: 'Click for Google',
				start: new Date(y, m, 28),
				end: new Date(y, m, 29),
				url: 'http://google.com/',
				className: 'label-danger'
			}
		]
	});
});
</script>