<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>FAQ</span></li>
		</ol>
		
		<h1>FAQ</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix" style="min-height: 1100px;">
			<div class="tabs-wrapper tabs-no-header">
				<ul class="nav nav-tabs">
					<li class="active"><a showtab="" href="#tab-home" data-toggle="tab">General</a></li>
					<li><a showtab="" href="#tab-accounts" data-toggle="tab">Accounts</a></li>
					<li class="dropdown">
						<a showtab="" class="dropdown-toggle" data-toggle="dropdown" href="">
							Technical <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a showtab="" href="#tab-configuration" data-toggle="tab">Configuration</a></li>
							<li><a showtab="" href="#tab-configuration" data-toggle="tab">Voice</a></li>
							<li class="divider"></li>
							<li><a showtab="" href="#tab-configuration" data-toggle="tab">Messaging</a></li>
						</ul>
					</li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab-home">
						
						<h3><span>General information</span></h3>
						<div class="panel-group accordion" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											<i class="fa fa-cloud"></i> What is a good example of a Cube application?
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse">
									<div class="panel-body">
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit felis. Vestibulum convallis turpis lectus, a porta est facilisis id. 
										<br/>
										<br/>
										Ut tincidunt elit vitae eleifend blandit. Aenean condimentum neque libero, vehicula sodales massa porta tincidunt. Vestibulum quis felis eget ante fringilla interdum. Pellentesque vehicula neque a libero porta cursus a a neque. Sed vitae lectus urna. Vivamus rutrum ex in purus lacinia vehicula. Fusce mollis sapien sit amet ipsum blandit, ac tristique erat aliquam.  
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											<i class="fa fa-gavel"></i> What can I build with Cube?
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										 Mauris eu ultrices metus. Nam blandit malesuada metus a laoreet. Maecenas nec dolor at purus elementum aliquam. Sed id risus at elit facilisis laoreet. Duis mollis ac justo sed varius. Duis non dolor non tellus tincidunt vestibulum at ac velit. Ut quis urna erat. Duis turpis est, egestas sed pellentesque fringilla, mattis eu augue. 
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											<i class="fa fa-building-o"></i> Do you have any pre-built applications using Cube?
										</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										 Sed lobortis non mi et elementum. Quisque in ex dictum, lacinia augue sit amet, commodo quam. Curabitur sit amet auctor nisi. Aenean viverra elit quam, eget efficitur turpis tincidunt vitae. Pellentesque a velit vitae neque tincidunt pharetra eu vel nisl. Integer ac ipsum sed ligula bibendum molestie vel sed sem. Pellentesque a vehicula ante. Fusce commodo sodales purus eget interdum. Pellentesque id aliquam quam. 
									</div>
								</div>
							</div>
						</div>
						
						<h3><span>Billing information</span></h3>
						<div class="panel-group accordion" id="accordion4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseOne4">
											<i class="fa fa-btc"></i> How does Cube’s pricing work?
										</a>
									</h4>
								</div>
								<div id="collapseOne4" class="panel-collapse collapse">
									<div class="panel-body">
										Fusce quis luctus eros, sed bibendum dolor. Nullam eget felis libero. Morbi orci est, tempus suscipit imperdiet a, sollicitudin at elit. Ut a convallis odio, quis rutrum felis. Nullam maximus tellus velit, eu eleifend odio finibus nec. Integer porttitor a enim sed congue. Cras interdum erat non pharetra consectetur. 
										<br/>
										<br/>
										 In fermentum ullamcorper dapibus. Ut eleifend tellus ullamcorper, hendrerit mi at, pharetra nulla. Donec condimentum egestas elementum. Integer sed vehicula tortor, a porta neque. Nullam posuere non enim et accumsan. Duis volutpat blandit orci, id interdum leo pulvinar vel. Morbi consequat viverra mi a tincidunt.  
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseTwo4">
											<i class="fa fa-coffee"></i> What happens if my Cube account balance reaches zero?
										</a>
									</h4>
								</div>
								<div id="collapseTwo4" class="panel-collapse collapse">
									<div class="panel-body">
										 Integer ut tellus nisi. Mauris libero velit, ornare cursus tincidunt non, mollis sit amet libero. Donec nec vehicula turpis, vel faucibus tortor. Quisque quis viverra risus, congue hendrerit lorem. Fusce quis molestie ipsum, vitae imperdiet mauris. Fusce non fringilla nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam fringilla dictum dolor sed tincidunt. In interdum nisi sem, eu gravida urna venenatis sit amet. Cras tristique cursus lacinia. Phasellus nec est fermentum, porta leo in, accumsan nisl. Duis iaculis eu nulla sit amet ultrices. Nunc vel volutpat ex. 
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4">
											<i class="fa fa-credit-card"></i> When does volume pricing kick in?
										</a>
									</h4>
								</div>
								<div id="collapseThree4" class="panel-collapse collapse">
									<div class="panel-body">
										 Mauris vitae ligula sit amet felis imperdiet vestibulum. Sed id tincidunt dolor, id sagittis ipsum. Proin fermentum imperdiet ante quis convallis. Sed facilisis diam id sapien eleifend, vel vulputate ante maximus. In ligula turpis, porttitor eget imperdiet id, consectetur et nibh. Ut eu facilisis justo, vel mollis mi. Aenean ipsum massa, egestas id risus a, ullamcorper condimentum diam. Nulla non nibh ac purus cursus convallis. Ut nibh lacus, vestibulum et pulvinar ac, hendrerit sed nisi. Praesent eget justo lectus. Phasellus finibus tortor ut dolor scelerisque, at tristique leo lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour4">
											<i class="fa fa-flask"></i> How do I set a recharge trigger?
										</a>
									</h4>
								</div>
								<div id="collapseFour4" class="panel-collapse collapse">
									<div class="panel-body">
										 Nam vel hendrerit eros. Nulla vitae cursus ante, convallis fringilla ipsum. Vestibulum malesuada lacus ac sapien vulputate, id aliquet velit pharetra. Donec quis orci ac ante accumsan ultricies sit amet in quam. Sed ligula arcu, aliquet sed tortor id, sodales sagittis est. Praesent et egestas ligula. Aliquam vel nulla vitae ligula blandit egestas. Nunc vel facilisis purus, et hendrerit mauris. Nam elementum augue quis quam pharetra gravida. Nullam in bibendum dui. Ut hendrerit porta molestie. Ut ac sapien ut sem tempus interdum id quis turpis. Sed suscipit ornare turpis in commodo. Donec vitae dui ut neque feugiat placerat at non felis. 
									</div>
								</div>
							</div>
						</div>
						
						
					</div>
					<div class="tab-pane fade" id="tab-accounts">
						
						<h3><span>Accounts information</span></h3>
						<div class="panel-group accordion" id="accordion2">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
											What is a subaccount?
										</a>
									</h4>
								</div>
								<div id="collapseOne2" class="panel-collapse collapse">
									<div class="panel-body">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit felis. Vestibulum convallis turpis lectus, a porta est facilisis id. 
										<br/>
										<br/>
										 Ut tincidunt elit vitae eleifend blandit. Aenean condimentum neque libero, vehicula sodales massa porta tincidunt. Vestibulum quis felis eget ante fringilla interdum. Pellentesque vehicula neque a libero porta cursus a a neque. Sed vitae lectus urna. Vivamus rutrum ex in purus lacinia vehicula. Fusce mollis sapien sit amet ipsum blandit, ac tristique erat aliquam.  
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
											How do I cancel my account?
										</a>
									</h4>
								</div>
								<div id="collapseTwo2" class="panel-collapse collapse">
									<div class="panel-body">
										 Sed lobortis non mi et elementum. Quisque in ex dictum, lacinia augue sit amet, commodo quam. Curabitur sit amet auctor nisi. Aenean viverra elit quam, eget efficitur turpis tincidunt vitae. Pellentesque a velit vitae neque tincidunt pharetra eu vel nisl. Integer ac ipsum sed ligula bibendum molestie vel sed sem. Pellentesque a vehicula ante. Fusce commodo sodales purus eget interdum. Pellentesque id aliquam quam. 
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
											Where are my test credentials?
										</a>
									</h4>
								</div>
								<div id="collapseThree2" class="panel-collapse collapse">
									<div class="panel-body">
										 Fusce quis luctus eros, sed bibendum dolor. Nullam eget felis libero. Morbi orci est, tempus suscipit imperdiet a, sollicitudin at elit. Ut a convallis odio, quis rutrum felis. Nullam maximus tellus velit, eu eleifend odio finibus nec. Integer porttitor a enim sed congue. Cras interdum erat non pharetra consectetur. 
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour2">
											Can I change the name of my account?
										</a>
									</h4>
								</div>
								<div id="collapseFour2" class="panel-collapse collapse">
									<div class="panel-body">
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit felis. Vestibulum convallis turpis lectus, a porta est facilisis id. 
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="tab-pane fade" id="tab-configuration">
						
						<h3><span>Technical information</span></h3>
						<div class="panel-group accordion" id="accordion3">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseOne3">
											How do I protect unauthorized access to my media on Cube?
										</a>
									</h4>
								</div>
								<div id="collapseOne3" class="panel-collapse collapse">
									<div class="panel-body">
										Ut tincidunt elit vitae eleifend blandit. Aenean condimentum neque libero, vehicula sodales massa porta tincidunt. Vestibulum quis felis eget ante fringilla interdum. Pellentesque vehicula neque a libero porta cursus a a neque. Sed vitae lectus urna. Vivamus rutrum ex in purus lacinia vehicula. Fusce mollis sapien sit amet ipsum blandit, ac tristique erat aliquam. 
										<br/>
										<br/>
										 Mauris eu ultrices metus. Nam blandit malesuada metus a laoreet. Maecenas nec dolor at purus elementum aliquam. Sed id risus at elit facilisis laoreet. Duis mollis ac justo sed varius. Duis non dolor non tellus tincidunt vestibulum at ac velit. Ut quis urna erat. Duis turpis est, egestas sed pellentesque fringilla, mattis eu augue.  
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">
											Which IP addresses will Cube’s requests come from?
										</a>
									</h4>
								</div>
								<div id="collapseTwo3" class="panel-collapse collapse">
									<div class="panel-body">
										 Sed lobortis non mi et elementum. Quisque in ex dictum, lacinia augue sit amet, commodo quam. Curabitur sit amet auctor nisi. Aenean viverra elit quam, eget efficitur turpis tincidunt vitae. Pellentesque a velit vitae neque tincidunt pharetra eu vel nisl. Integer ac ipsum sed ligula bibendum molestie vel sed sem. Pellentesque a vehicula ante. Fusce commodo sodales purus eget interdum. Pellentesque id aliquam quam. 
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3">
											What are Cube's business hours for support?
										</a>
									</h4>
								</div>
								<div id="collapseThree3" class="panel-collapse collapse">
									<div class="panel-body">
										 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit felis. Vestibulum convallis turpis lectus, a porta est facilisis id. 
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>