<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>WYSIWYG Summernote</span></li>
		</ol>
		
		<h1>WYSIWYG Summernote</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix" style="min-height: 820px;">
			<header class="main-box-header clearfix">
				<h2>Summernote WYSIWYG Editor</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="summernote">
					<p>
						Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with 
						my name printed on it? Do you see a little Asian child with a blank expression on his face 
						sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? 
						Well, that's what you see at a toy store. And you must think you're in a toy store, because 
						you're here shopping for an infant named Jeb.
					</p>
					<p>
						Do you see a little Asian child with a blank expression on his face 
						sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? 
						Well, that's what you see at a toy store. And you must think you're in a toy store, because 
						you're here shopping for an infant named Jeb.
					</p>
					<p>
						Well, that's what you see at a toy store. And you must think you're in a toy store, because 
						you're here shopping for an infant named Jeb. Do you see a slender plastic tag clipped to my 
						shirt with my name printed on it? Do you see a little Asian child with a blank expression on 
						his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? 
					</p>
				</div>
			</div>
					
		</div>
	</div>
</div>
	
<!-- this page specific inline scripts -->
<script>
$(function(){
	$('.summernote').summernote({
		height: 400,
		minHeight: 200
	});
});
</script>