<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Pricing</span></li>
		</ol>
		
		<h1>Pricing</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Pricing table ver.1</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-package">
					<div class="pricing-package-inner">
						<div class="package-header">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
							</span>
							<h3>Starter</h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								<span class="currency">&dollar;</span>
								<span class="price">9</span>
								<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									1 Call-Us button
								</li>
								<li>
									1 Operator
								</li>
								<li>
									5 GB Storage
								</li>
							</ul>
							<ul class="package-features">
								<li class="has-feature">
									Call waiting
								</li>
								<li class="has-feature">
									Customizable design
								</li>
								<li class="has-nofeature">
									Business hours
								</li>
								<li class="has-nofeature">
									Call history
								</li>
								<li class="has-nofeature">
									Customer groups
								</li>
								<li class="has-nofeature">
									Country control
								</li>
								<li class="has-nofeature">
									Call recording
								</li>
								<li class="has-nofeature">
									Mobile apps (iOS, Android)
								</li>
							</ul>
							<div class="package-footer">
								<button class="btn btn-success">
									<span class="fa fa-shopping-cart fa-lg"></span> Try now
								</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-package">
					<div class="pricing-package-inner">
						<div class="package-header green-bg">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
							<h3>Basic</h3>
						</div>
						<div class="package-content">
							<div class="package-price green-bg">
								<span class="currency">&dollar;</span>
								<span class="price">49</span>
								<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									5 Call-Us buttons
								</li>
								<li>
									5 Operators
								</li>
								<li>
									50 GB Storage
								</li>
							</ul>
							<ul class="package-features">
								<li class="has-feature">
									Call waiting
								</li>
								<li class="has-feature">
									Customizable design
								</li>
								<li class="has-feature">
									Business hours
								</li>
								<li class="has-feature">
									Call history
								</li>
								<li class="has-nofeature">
									Customer groups
								</li>
								<li class="has-nofeature">
									Country control
								</li>
								<li class="has-nofeature">
									Call recording
								</li>
								<li class="has-nofeature">
									Mobile apps (iOS, Android)
								</li>
							</ul>
							<div class="package-footer">
								<button class="btn btn-success">
									<span class="fa fa-shopping-cart fa-lg"></span> Try now
								</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-package">
					<div class="pricing-package-inner">
						<div class="pricing-star">Best<br/>value</div>
						<div class="package-header yellow-bg">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
							<h3>Standard</h3>
						</div>
						<div class="package-content">
							<div class="package-price yellow-bg">
								<span class="currency">&dollar;</span>
								<span class="price">99</span>
								<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									10 Call-Us buttons
								</li>
								<li>
									10 Operators
								</li>
								<li>
									100 GB Storage
								</li>
							</ul>
							<ul class="package-features">
								<li class="has-feature">
									Call waiting
								</li>
								<li class="has-feature">
									Customizable design
								</li>
								<li class="has-feature">
									Business hours
								</li>
								<li class="has-feature">
									Call history
								</li>
								<li class="has-feature">
									Customer groups
								</li>
								<li class="has-nofeature">
									Country control
								</li>
								<li class="has-nofeature">
									Call recording
								</li>
								<li class="has-nofeature">
									Mobile apps (iOS, Android)
								</li>
							</ul>
							<div class="package-footer">
								<button class="btn btn-success">
									<span class="fa fa-shopping-cart fa-lg"></span> Try now
								</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6 col-xs-12 pricing-package">
					<div class="pricing-package-inner">
						<div class="package-header purple-bg">
							<span class="stars center-block">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</span>
							<h3>Ultimate</h3>
						</div>
						<div class="package-content">
							<div class="package-price purple-bg">
								<span class="currency">&dollar;</span>
								<span class="price">299</span>
								<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									50 Call-Us button
								</li>
								<li>
									50 Operator
								</li>
								<li>
									1 TB Storage
								</li>
							</ul>
							<ul class="package-features">
								<li class="has-feature">
									Call waiting
								</li>
								<li class="has-feature">
									Customizable design
								</li>
								<li class="has-feature">
									Business hours
								</li>
								<li class="has-feature">
									Call history
								</li>
								<li class="has-feature">
									Customer groups
								</li>
								<li class="has-feature">
									Country control
								</li>
								<li class="has-feature">
									Call recording
								</li>
								<li class="has-feature">
									Mobile apps (iOS, Android)
								</li>
							</ul>
							<div class="package-footer">
								<button class="btn btn-success">
									<span class="fa fa-shopping-cart fa-lg"></span> Try now
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Pricing table ver.2</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<div class="col-md-2 col-sm-4 col-xs-12 pricing-package simple">
					<div class="pricing-package-inner">
						<div class="package-header">
							<h3>Starter</h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								&dollar;7<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									1 Call-Us button
								</li>
								<li>
									1 Operator
								</li>
								<li>
									5 GB Storage
								</li>
								<li>
									Monthly reports
								</li>
							</ul>
						</div>
					</div>
					<div class="package-footer">
						<button class="btn btn-success">
							<span class="fa fa-shopping-cart fa-lg"></span> Try now
						</button>
					</div>
				</div>
				
				<div class="col-md-2 col-sm-4 col-xs-12 pricing-package simple">
					<div class="pricing-package-inner">
						<div class="package-header green-bg">
							<h3>Basic</h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								&dollar;12<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									5 Call-Us buttons
								</li>
								<li>
									5 Operators
								</li>
								<li>
									50 GB Storage
								</li>
								<li>
									Weekly reports
								</li>
							</ul>
						</div>
					</div>
					<div class="package-footer">
						<button class="btn btn-success">
							<span class="fa fa-shopping-cart fa-lg"></span> Try now
						</button>
					</div>
				</div>
				
				<div class="col-md-2 col-sm-4 col-xs-12 pricing-package simple">
					<div class="pricing-package-inner">
						<div class="pricing-star">Best value</div>
						<div class="package-header yellow-bg">
							<h3>Standard</h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								&dollar;19<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									10 Call-Us buttons
								</li>
								<li>
									10 Operators
								</li>
								<li>
									100 GB Storage
								</li>
								<li>
									Weekly reports
								</li>
							</ul>
						</div>
					</div>
					<div class="package-footer">
						<button class="btn btn-success">
							<span class="fa fa-shopping-cart fa-lg"></span> Try now
						</button>
					</div>
				</div>
				
				<div class="col-md-2 col-sm-4 col-xs-12 pricing-package simple">
					<div class="pricing-package-inner">
						<div class="package-header purple-bg">
							<h3>Advanced</h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								&dollar;49<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									50 Call-Us button
								</li>
								<li>
									50 Operator
								</li>
								<li>
									1 TB Storage
								</li>
								<li>
									Daily reports
								</li>
							</ul>
						</div>
					</div>
					<div class="package-footer">
						<button class="btn btn-success">
							<span class="fa fa-shopping-cart fa-lg"></span> Try now
						</button>
					</div>
				</div>
				
				<div class="col-md-2 col-sm-4 col-xs-12 pricing-package simple">
					<div class="pricing-package-inner">
						<div class="package-header gray-bg">
							<h3>Ultimate</h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								&dollar;99<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									150 Call-Us button
								</li>
								<li>
									150 Operator
								</li>
								<li>
									10 TB Storage
								</li>
								<li>
									Weekly reports
								</li>
							</ul>
						</div>
					</div>
					<div class="package-footer">
						<button class="btn btn-success">
							<span class="fa fa-shopping-cart fa-lg"></span> Try now
						</button>
					</div>
				</div>
				
				<div class="col-md-2 col-sm-4 col-xs-12 pricing-package simple">
					<div class="pricing-package-inner">
						<div class="package-header red-bg">
							<h3>Enterprise</h3>
						</div>
						<div class="package-content">
							<div class="package-price">
								&dollar;499<span class="package-month">/mo</span>
							</div>
							<ul class="package-top-features">
								<li>
									Unlimited minutes
								</li>
								<li>
									500 Call-Us button
								</li>
								<li>
									500 Operator
								</li>
								<li>
									100 TB Storage
								</li>
								<li>
									Daily reports
								</li>
							</ul>
						</div>
					</div>
					<div class="package-footer">
						<button class="btn btn-success">
							<span class="fa fa-shopping-cart fa-lg"></span> Try now
						</button>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>