<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active"><span>FooTables</span></li>
		</ol>
		
		<h1>FooTables <small>Secondary headline</small></h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2 class="pull-left">Orders (click on a table row)</h2>

				<div class="filter-block pull-right">
					<div class="form-group pull-left">
						<input type="text" id="filter" class="form-control" placeholder="Search...">
						<i class="fa fa-search search-icon"></i>
					</div>
				</div>
			</header>
			
			<div class="main-box-body clearfix">
				<table class="table footable toggle-circle-filled" data-page-size="6" data-filter="#filter" data-filter-text-only="true">
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Date</th>
							<th data-hide="phone">Customer</th>
							<th data-hide="phone,tablet" class="text-center">Status</th>
							<th data-hide="all" class="text-right">Price</th>
							<th data-hide="all" class="text-right">Type</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="#">#8002</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Robert De Niro</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 825.50
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#5832</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">John Wayne</a>
							</td>
							<td class="text-center">
								<span class="label label-warning">On hold</span>
							</td>
							<td class="text-right">
								&dollar; 923.93
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#2547</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Anthony Hopkins</a>
							</td>
							<td class="text-center">
								<span class="label label-primary">Pending</span>
							</td>
							<td class="text-right">
								&dollar; 1.625.50
							</td>
							<td>
								Tablet
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#9274</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Charles Chaplin</a>
							</td>
							<td class="text-center">
								<span class="label label-danger">Cancelled</span>
							</td>
							<td class="text-right">
								&dollar; 35.34
							</td>
							<td>
								Mobile
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8463</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Gary Cooper</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 34.199.99
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8002</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Robert De Niro</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 825.50
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#5832</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">John Wayne</a>
							</td>
							<td class="text-center">
								<span class="label label-warning">On hold</span>
							</td>
							<td class="text-right">
								&dollar; 923.93
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#2547</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Anthony Hopkins</a>
							</td>
							<td class="text-center">
								<span class="label label-primary">Pending</span>
							</td>
							<td class="text-right">
								&dollar; 1.625.50
							</td>
							<td>
								Tablet
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#9274</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Charles Chaplin</a>
							</td>
							<td class="text-center">
								<span class="label label-danger">Cancelled</span>
							</td>
							<td class="text-right">
								&dollar; 35.34
							</td>
							<td>
								Mobile
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8463</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Gary Cooper</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 34.199.99
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8002</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Robert De Niro</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 825.50
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#5832</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">John Wayne</a>
							</td>
							<td class="text-center">
								<span class="label label-warning">On hold</span>
							</td>
							<td class="text-right">
								&dollar; 923.93
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#2547</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Anthony Hopkins</a>
							</td>
							<td class="text-center">
								<span class="label label-primary">Pending</span>
							</td>
							<td class="text-right">
								&dollar; 1.625.50
							</td>
							<td>
								Tablet
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#9274</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Charles Chaplin</a>
							</td>
							<td class="text-center">
								<span class="label label-danger">Cancelled</span>
							</td>
							<td class="text-right">
								&dollar; 35.34
							</td>
							<td>
								Mobile
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8463</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Gary Cooper</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 34.199.99
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8002</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Robert De Niro</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 825.50
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#5832</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">John Wayne</a>
							</td>
							<td class="text-center">
								<span class="label label-warning">On hold</span>
							</td>
							<td class="text-right">
								&dollar; 923.93
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#2547</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Anthony Hopkins</a>
							</td>
							<td class="text-center">
								<span class="label label-primary">Pending</span>
							</td>
							<td class="text-right">
								&dollar; 1.625.50
							</td>
							<td>
								Tablet
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#9274</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Charles Chaplin</a>
							</td>
							<td class="text-center">
								<span class="label label-danger">Cancelled</span>
							</td>
							<td class="text-right">
								&dollar; 35.34
							</td>
							<td>
								Mobile
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8463</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Gary Cooper</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 34.199.99
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8002</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Robert De Niro</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 825.50
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#5832</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">John Wayne</a>
							</td>
							<td class="text-center">
								<span class="label label-warning">On hold</span>
							</td>
							<td class="text-right">
								&dollar; 923.93
							</td>
							<td>
								Website
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#2547</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Anthony Hopkins</a>
							</td>
							<td class="text-center">
								<span class="label label-primary">Pending</span>
							</td>
							<td class="text-right">
								&dollar; 1.625.50
							</td>
							<td>
								Tablet
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#9274</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Charles Chaplin</a>
							</td>
							<td class="text-center">
								<span class="label label-danger">Cancelled</span>
							</td>
							<td class="text-right">
								&dollar; 35.34
							</td>
							<td>
								Mobile
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">#8463</a>
							</td>
							<td>
								2013/08/08
							</td>
							<td>
								<a href="#">Gary Cooper</a>
							</td>
							<td class="text-center">
								<span class="label label-success">Completed</span>
							</td>
							<td class="text-right">
								&dollar; 34.199.99
							</td>
							<td>
								Website
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination pull-right hide-if-no-paging"></ul>
			</div>
		</div>
	</div>
</div>

<!-- this page specific inline scripts -->
<script type="text/javascript">
$(document).ready(function() {
	$('.footable').footable();
});
</script>