<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Timeline as grid</span></li>
		</ol>
		
		<h1>Timeline as grid</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
				
		<div id="timeline-grid">
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312422981194350592"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXzC84CAAE9jvF.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Rye Pier, Australia <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/oJ2t3inyqm">http://t.co/oJ2t3inyqm</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312422981194350592"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312421079140425728"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXxUPMCYAAs2t5.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Heart Cloud <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/p0NGFLKddV">http://t.co/p0NGFLKddV</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312421079140425728"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312422360949075968"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXye2SCMAErhV3.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Romantic Flower <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/jJcXJkZwOc">http://t.co/jJcXJkZwOc</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312422360949075968"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312420839138140160"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXxGRGCIAAfbJO.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Colourful <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/qndt5C4ypM">http://t.co/qndt5C4ypM</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312420839138140160"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312419836485574656"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXwL57CIAALigZ.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Minimalism Photography <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/C1J6IqT89L">http://t.co/C1J6IqT89L</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312419836485574656"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312421956991463424"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXyHVcCMAIobOP.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">In Love. <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/pSCK6vVd6E">http://t.co/pSCK6vVd6E</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312421956991463424"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312420733978562560"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXxAJWCUAEdPRF.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Minimal Photography <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/3laCVziTw4">http://t.co/3laCVziTw4</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312420733978562560"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312419720563404800"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXwFKFCMAAv9LP.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Don’t shoot what it looks like. Shoot what
						it feels like. – David Alan Harvey <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/UyV2TQlKEX">http://t.co/UyV2TQlKEX</a>
					</span> <span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312419720563404800"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312421502446354432"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXxs4HCQAAQ7XG.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Cherries. Fruit Minimal Photography <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/DAqtqoJd9A">http://t.co/DAqtqoJd9A</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312421502446354432"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312420610632454144"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXw493CEAAmLUw.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Photography Inspiration <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/61H3LkDHHM">http://t.co/61H3LkDHHM</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312420610632454144"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312419578112262145"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXv83aCQAAaZdZ.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Rain photography. <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/GhYkRTR725">http://t.co/GhYkRTR725</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312419578112262145"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312421353150099457"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXxkL9CMAED_KJ.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Two Mile Hallow, NY Sunset <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/tW2rpdvSiI">http://t.co/tW2rpdvSiI</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312421353150099457"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312420465450815488"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXwwhACEAAc74T.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">The art of nature floral photography <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/XrQoSsWM1j">http://t.co/XrQoSsWM1j</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312420465450815488"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312419286490689537"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXvr5CCMAIQoeH.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Minimalism <a target="_blank"
						class="twtr-hashtag"
						href="http://twitter.com/search?q=%23Photography">#Photography</a>.
						Green Field <a class="twtr-hyperlink" target="_blank"
						href="http://t.co/2Kfb2K0d0b">http://t.co/2Kfb2K0d0b</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312419286490689537"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312421256060338177"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXxeiQCAAAG8DM.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Balloons <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/EDfhW6s3TP">http://t.co/EDfhW6s3TP</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312421256060338177"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312420228577505280"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXwiulCMAA1j3w.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Amazing Jelly Fish <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/MG4z197hsl">http://t.co/MG4z197hsl</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312420228577505280"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312419085017309185"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXvgKgCYAAELYk.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">White Sky <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/daEwvbQgFT">http://t.co/daEwvbQgFT</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312419085017309185"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312421144579960832"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXxYC9CcAAccRT.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Colourful Umbrella <a
						class="twtr-hyperlink" target="_blank"
						href="http://t.co/HDqJo8rgJl">http://t.co/HDqJo8rgJl</a></span> <span
						class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312421144579960832"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312420143202451456"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXwdwiCQAAfJDQ.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Long exposure. <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/8Ug4Bkv56N">http://t.co/8Ug4Bkv56N</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312420143202451456"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
			<div class="item">
				<a href="http://twitter.com/QuenessTestAcc/status/312418776014536704"
					target="_blank"><img
					src="http://pbs.twimg.com/media/BFXvOLXCQAE-HVW.jpg"></a>
				<div class="tweet-wrapper">
					<span class="text">Birdcage walk <a class="twtr-hyperlink"
						target="_blank" href="http://t.co/VHYigacRO7">http://t.co/VHYigacRO7</a></span>
					<span class="time"><a
						href="http://twitter.com/QuenessTestAcc/status/312418776014536704"
						target="_blank">over a year ago</a></span> by <span class="user">QuenessTestAcc</span>
				</div>
			</div>
		
		</div>
				
	</div>
</div>							

<!-- this page specific inline scripts -->
<script>
$(document).ready(function () {
	$("#timeline-grid").gridalicious({
		gutter: 10,
		width: 180,
		animate: true,
		animationOptions: {
			speed: 150,
			duration: 500
		},
	});
});
</script>