<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-photo fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Title of section 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Read more</a>
			</div>
			<span class="cd-date">11:59</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<i class="fa fa-video-camera fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Title of section 2</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Read more</a>
			</div>
			<span class="cd-date">15:40</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-photo fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Title of section 3</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Read more</a>
			</div>
			<span class="cd-date">18:12</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<i class="fa fa-map-marker fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Title of section 4</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Read more</a>
			</div>
			<span class="cd-date">20:48</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<i class="fa fa-map-marker fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Title of section 5</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
			<div class="clearfix">
				<a class="btn btn-primary pull-right">Read more</a>
			</div>
			<span class="cd-date">21:22</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<i class="fa fa-video-camera fa-2x"></i>
		</div>

		<div class="cd-timeline-content">
			<h2>Final Section</h2>
			<p>This is the content of the last section</p>
			<span class="cd-date">23:59</span>
		</div>
	</div>
</section>