<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Typography</span></li>
		</ol>
		
		<h1>Typography (page header h1)</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Heading 2 (h2)</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<p class="lead">
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
					 Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper. 
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
					Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, 
					lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices 
					placerat. Vivamus suscipit vulputate lacinia. Vestibulum et nisi vel odio dignissim sagittis ut suscipit 
					felis. Vestibulum convallis turpis lectus, a porta est facilisis id 
					<abbr title="attribute">ends</abbr>.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
					Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, 
					lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices. 
				</p>
				
				<h3><span>Heading 3 (h3)</span></h3>
				
				<div class="row">
					<div class="col-md-6">
						<h4>Heading 4 (h4)</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
							Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, 
							lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices 
							placerat. Vivamus suscipit vulputate lacinia.
						</p>
					</div>
					<div class="col-md-6">
						<h4>Heading 4 (h4)</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
							Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, 
							lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices 
							placerat. Vivamus suscipit vulputate lacinia.
						</p>
					</div>
				</div>
				
				<h5>Heading 5 (h5)</h5>
				
				<p>
					<small>
						SMALL - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet odio. 
						Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, 
						lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices 
						placerat. Vivamus suscipit vulputate lacinia.
					</small>
				</p>
				<br/>
				
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
						Nulla vel sagittis tellus. Nulla tristique nisi vitae blandit vehicula. Sed nunc ex, auctor id semper a, 
						lacinia eu turpis. Maecenas eu mauris vehicula, blandit mauris nec, commodo magna. Nam commodo ultrices 
						placerat. Vivamus suscipit vulputate lacinia.
					</p>
					<small>
						<cite title="Source Title">Source Samuel L Ipsum</cite>
					</small>
				</blockquote>
				
				<h5>Definition List</h5>
				
				<dl class="dl-horizontal">
					<dt>Description lists</dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
					
					<dt>Is she dead, yes or no?</dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
					<dd>Maecenas eu mauris vehicula, blandit mauris nec. Maecenas eu mauris vehicula, blandit mauris nec.</dd>
					
					<dt>We happy?</dt>
					<dd>Nulla tristique nisi vitae blandit vehicula.</dd>
					
					<dt>You think water moves fast? You should see ice.</dt>
					<dd>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
						Nulla vel sagittis tellus.
					</dd>
				</dl>
				
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Other Blockquotes &amp; Tooltips</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<br/>
				<br/>
				
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
					</p>
				</blockquote>
				<br/>
				<br/>
				
				<div class="clearfix">
					<blockquote class="pull-right">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa. 
						</p>
					</blockquote>
				</div>
				<br/>
				<br/>
				
				<div class="alert alert-info">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut porta massa, sit amet maximus odio. 
					<a href="" class="alert-link">Nulla vel sagittis tellus</a>.
				</div>
				<br/>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>All kinds of lists</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<h3><span>Font Awesome List</span></h3>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-check-square"></i>List icons (like these)</li>
					<li><i class="fa-li fa fa-check-square"></i>can be used</li>
					<li><i class="fa-li fa fa-spinner fa-spin"></i>to replace</li>
					<li><i class="fa-li fa fa-square"></i>default bullets in lists</li>
				</ul>
				
				<h3><span>Unordered List</span></h3>
				<ul>
					<li>
						Item 1
					</li>
					<li>
						Item 2
						<ul>
							<li>Subitem 2-1</li>
							<li><strong>Subitem 2-2 (Bold)</strong></li>
							<li><em>Subitem 2-1 (Italic)</em></li>
						</ul>
					</li>
				</ul>
				
				<h3><span>Ordered List</span></h3>
				<ol>
					<li>Ordered Item 1</li>
					<li>Ordered Item 2</li>
					<li>Ordered Item 3</li>
				</ol>
				
			</div>
		</div>
	</div>
</div>