<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li><a href="">Home</a></li>
			<li class="active"><span>Responsive Video</span></li>
		</ol>
		
		<h1>Responsive Video</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Responsive embed - 16:9 aspect ratio</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<p>
					Allow browsers to determine video or slideshow dimensions based on the width of their containing 
					block by creating an intrinsic ratio that will properly scale on any device.
				</p>
				<p>
					Rules are directly applied to <code>&lt;iframe&gt;</code>, <code>&lt;embed&gt;</code>, and 
					<code>&lt;object&gt;</code> elements; optionally use an explicit descendant class 
					<code>.embed-responsive-item</code> when you want to match the 
					styling for other attributes.
				</p>
				<br/>
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/co6WMzDOh1o?rel=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Responsive embed - 4:3 aspect ratio</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<p>
					Pro-Tip! You don't need to include frameborder="0" in your <code>&lt;iframe&gt;</code>s as 
					we override that for you.
				</p>
				<br/>
				<!-- 4:3 aspect ratio -->
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="//www.youtube.com/embed/1yw1Tgj9-VU?rel=0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Vimeo responsive embed - 4:3 aspect ratio</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<!-- 4:3 aspect ratio -->
				<div class="embed-responsive embed-responsive-4by3">
					<iframe class="embed-responsive-item" src="//player.vimeo.com/video/28040685" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
		<div class="main-box clearfix">
			<header class="main-box-header clearfix">
				<h2>Vimeo responsive embed - 16:9 aspect ratio</h2>
			</header>
			
			<div class="main-box-body clearfix">
				<!-- 16:9 aspect ratio -->
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="//player.vimeo.com/video/73437656" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>